:deep(.ant-menu) {
  border-right: none;
}

:deep(.ant-menu-item) {
  height: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

:deep(.ant-menu-item-group-title) {
  font-size: 16px;
  font-weight: 600;
  color: #272727;
  padding: 8px 16px;
  margin: 0;
}

:deep(.ant-menu-item-group) {
  padding: 0;
}
.component-lib {
  height: 658px;
}

.component-lib-list {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
