.canvas {
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.component-wrapper {
  margin: 12px;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 3px;
  background-color: #fff;
  cursor: move;
  user-select: none;

  &:hover {
    border-color: #d9d9d9;
  }

  // 选中状态的样式
  &.selected {
    border-color: #1890ff !important;
  }

  // 锁定状态的样式
  &.locked {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.ghost {
  opacity: 0 !important;
}

:global(.sortable-drag) {
  opacity: 1 !important;
  background-color: #f0f0f0 !important;
}

.component-container {
  pointer-events: none;
}
