.layers {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .layers-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    &:hover .right {
      color: #232323;
    }
  }
  .isActive {
    color: #2c96ff;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #acacac;
    transition: all 0.1s ease;
  }
  .icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.1s ease;

    &:hover {
      background-color: #2c96ff;
      color: #fff;
    }
  }

  .isClick {
    background-color: #2c96ff;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
      background-color: #62aaf3;
      color: #fff;
    }
  }
}
