.header {
  padding: 0 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.main {
  min-height: calc(100vh - 64px - 66px);
}

.footer {
  text-align: center;
}
